.navbar{
    width:100%;
    height:55px;
    background:var(--sb-dark);
    padding:0 10%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    box-shadow:0 2px 3px rgba(13 109 253 / .5);
    position:relative;
    transition:all .25s;
}

/* LOGO */
.logo{
    color:var(--sb-light);
    text-decoration:none;
    text-transform:uppercase;
    text-shadow:0 2px 0 var(--sb-shadow);
    transition:.25s;
}
.logo:hover{
    text-shadow:0 2px 0 var(--sb-default),
    0 3px 8px var(--sb-default)
}
.logo-h1{
    transition:.25s;
}
.logo:hover .logo-h1{
    transform:scale(1.02);
}

/* MENU */
.menu-box{
    display:flex;
    align-items:center;
    height:100%;
}

.link-area{
    display:flex;
    list-style:none;
    margin:0 15px;
    height:100%;
}
.link-box{
    height:100%;
    margin:0 8px;
}
.link-a{
    color:var(--sb-light);
    height:100%;
    display:flex;
    align-items:center;
    text-decoration:none;
    text-transform:uppercase;
    font-size:.9em;
    text-shadow:1px 1px 2px var(--sb-shadow);
    transition:.25s;
}
.link-a:hover,
.link-a:focus{
    box-shadow:0 2px 0 var(--sb-default);
    text-shadow:1px 1px 2px var(--sb-default),
    1px 1px 2px var(--sb-default);
}

/* BTN */
.btn{
    color:var(--sb-light);
    padding:8px 14px;
    border-radius:5px;
    text-transform:uppercase;
    font-size:1.05em;
    font-weight:600;
    text-shadow:0 1px 3px var(--sb-dark);
    cursor:pointer;
    transition:.25s ease;
}
.btn:hover{
    transform:scale(1.04);
}
.btn-default{
    background:var(--sb-default);
}

/* MENU MOBILE */
.btn-mobile{
    position:relative;
    display:none;
}
.hamburger{
    position:relative;
    display:block;
    width:15px;
    height:2px;
    background-color:var(--sb-light);
    left:0;
    margin:5px 0;
}
.hamburger::before,
.hamburger::after{
    content:'';
    position:absolute;
    background-color:var(--sb-light);
    width:15px;
    height:2px;
    top:-5px;
    left:0;
}
.hamburger::after{
    top:5px;
}
.menu-mobile{
    position:absolute;
    background-color:var(--sb-dark);
    min-width:100%;
    min-height:0;
    right:0;
    top:55px;
    display:none;
    align-items:center;
    flex-direction:column;
    justify-content:space-between;
    list-style:none;
    padding:20px 0;
    z-index:1;
    transition:.25s;
}
.mob-item{
    width:100%;
    height:100%;
}
.mob-link{
    width:100%;
    padding:20px 0;
    display:flex;
    align-items:center;
    justify-content:center;
    text-decoration:none;
    text-transform:uppercase;
    font-size:1.2em;
    font-weight:500;
    color:var(--sb-gray);
}
.mob-link:hover{
    background-color:var(--sb-default);
    color:var(--sb-light);
}

/* MEDIAS */
@media (max-width:1024px){
    .navbar{
        padding:0 50px;
    }
}

@media (max-width:768px){
    .navbar{
        padding:0 25px;
    }
    .logo .logo-h1{
        font-size:1.25em;
    }
}
@media (max-width:679px){
    .menu-box{
        display:none;
    }
    .btn-mobile{
        display:block;
    }
    .active{
        display:flex;
        min-height:150px;
    }
}