@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');
@import url('./searchBar.css');

:root{
    --sb-default:#3c48ef;
    --sb-light:#e9e9e9;
    --sb-dark:#1d1d1d;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background:#333;
    font-size:16px;
    color:#e9e9e9;
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

input, button{
    border:none;
    background:none;
}