.searchBar_area{
    padding:6px 12px;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}

.search_box{
    background:var(--sb-dark);
    outline:none;
    padding:8px;
    height:35px;
    color:var(--sb-light);
    transition:.25s ease;
}

.search_box:focus,
.search_box:not(:placeholder-shown),
.search_box:not(:placeholder-shown) ~ .searchBar_icon,
.search_box:not(:placeholder-shown) ~ .searchBar_divisor,
.search_box:not(:placeholder-shown) ~ .searchBar_divisor2,
.search_box:focus ~ .searchBar_icon,
.search_box:focus ~ .searchBar_divisor,
.search_box:focus ~ .searchBar_divisor2{
    height:50px;
}
.search_box::-webkit-search-cancel-button{
    appearance:none;
    background-color:var(--sb-default);
    background-repeat:no-repeat;
    background-position:center center;
    background-size:15px 15px;
    background-image: -webkit-gradient(linear, left top, right bottom, from(transparent), color-stop(0.46, transparent), color-stop(0.46, #fff), color-stop(0.54, #fff), color-stop(0.54, transparent), to(transparent)), -webkit-gradient(linear, right top, left bottom, from(transparent), color-stop(0.46, transparent), color-stop(0.46, #fff), color-stop(0.54, #fff), color-stop(0.54, transparent), to(transparent)) !important;
    border:2px solid var(--sb-default);
    width:9px;
    height:9px;
    margin-left:.5em;
    padding:.1em;
    border-radius:1em;
    cursor:pointer;
}
.search_box:placeholder-shown{
    box-shadow:0 1px 0 var(--sb-default);
}
.search_box:not(:placeholder-shown),
.search_box:focus,
.search_box:hover{
    box-shadow:0 2px 0 var(--sb-default);
}
.searchBar_divisor,
.searchBar_divisor2{
    background:#333;
    width:1px;
    height:35px;
    transition:.25s ease;
}
.searchBar_divisor2{
    background:var(--sb-dark);
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    position:absolute;
    left:7px;
    width:5px;
}

.searchBar_icon{
    background:var(--sb-dark);
    display:flex;
    align-items:center;
    justify-content:center;
    width:40px;
    height:35px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    transition:.25s ease;
}
.searchBar_icon:hover{
    cursor:pointer;
}
.searchBar_icon i{
    color:var(--sb-light);
    transition:.15s ease;
}
.searchBar_icon:hover i{
    opacity:.8;
}
.searchBar_icon:active i{
    transform:scale(.95);
}
.searchBar_icon:disabled{
    cursor:default;
}
.searchBar_icon:disabled i{
    opacity:1;
}
.searchBar_icon:hover:disabled{
    opacity:.3;
    cursor:no-drop;
    background:rgb(255, 0, 0);
}
.searchBar_icon:active:disabled{
    transform:scale(1);
}

